
body{
    width:291px;
}
#text1{
    
    text-shadow:  2px 2px 1px green, -2px -2px 1px red;
    font-weight: bold;
}
#text2{
    
    color: blueviolet;
    background-color: antiquewhite;
    font-weight: bold;
    
}
#text3{
    text-shadow:  0px -7px  rgb(202, 26, 164);
    font-weight: bold;
}
#text4{
    background: linear-gradient(to bottom, white 0%, #ff9933 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#text5{
    color:red ;
    background-color: black;
    background: -webkit-linear-gradient(70deg, black,#af002d ,black, #af002d);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    
}
#text6{
    color: blue;
    background-color: black;
    font-weight: bold;
}
#text7{
    color: white;
    background-color: purple;
    text-align: center;
    width: 285px;
    font-weight: bold;
}
table{
    margin-left: 2px;
}